<form>
    <div class="ng-cloak" ng-controller="PurchaseFormCtrl as PurchaseFormVM">
      <div class="form-group">
        <label for="customerWalletID">Customer ID</label>
        <input type="text" class="form-control" id="customerWalletID" placeholder="Customer ID">
      </div>
      <div class="form-group">
        <label for="storeID">Store ID</label>
        <input type="text" class="form-control" id="storeID" placeholder="Store ID">
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="double" class="form-control" id="price" placeholder="$0.00">
      </div>
      <div class="form-group">
        <label for="tax">Tax</label>
        <input type="double" class="form-control" id="tax" placeholder="$0.00">
      </div>
      <button ng-click="submitPurchase()" type="submit" class="btn btn-success">Submit Purchase Transaction</button>
    </div>
</form>