<div class="horizontal-scroll">
  <div class="form-group select-page-size-wrap ">
    <label>Rows on page
      <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
              ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
      </select>
    </label>
  </div>
  <table class="table" st-table="smartTableData" st-safe-src="smartTableData1">
    <thead>
    <tr class="sortable ">
      <th class="table-id" st-sort="walletId" st-sort-default="true">Wallet ID</th>
      <th st-sort="balance">Balance</th>
      <th st-sort="owner">Owner</th>
      <th>Actions</th>
    </tr>
    <tr>
      <th><input st-search="walletId" placeholder="Search Wallet Id" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="balance" placeholder="Search Last Name" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="owner" placeholder="Search Username" class="input-sm form-control search-input"
                 type="search"/></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in smartTableData">
      <td class="table-id">{{item.walletId}}</td>
      <td>{{item.balance}}</td>
      <td>{{item.owner}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6" class="text-center">
        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>